.project_card {
  background-color: #112240;
  width: 375px;
  height: 350px;
  color: #ccd6f6;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  /* margin: 10px; */
  flex-wrap: wrap;
  margin: 20px;
  /* padding: -10px; */
  justify-content: center;
  align-items: center;
  position: relative;
}

.project_insides {
  width: 85%;
  height: 85%;
  /* border: 1px solid aqua; */
  display: flex;
  flex-direction: column;
}

.links {
  /* border: solid 1px green;  */
  /* width: 100%; */
  display: flex;
  justify-content: flex-end;
}

.link {
  cursor: pointer;
  padding: 3px;
  /* border: 1px solid gray; */
  font-size: 30px !important;
}
.link:hover {
  color: #48b9a6;
}

.link_one {
  display: flex;
  margin-top: 1px;
  justify-content: center;
}

.link_two {
  font-size: 35px !important;
}

.title {
  /* border: 1px solid pink; */
  margin-bottom: 1em;
  margin-top: 1.5em;
}

.description {
  /* border: 1px solid green; */
  margin-bottom: 2em;
  color: #8992b0;
}

.languages {
  color: #727e9d;
  /* border: 1px solid black; */
  font-size: 0.9em;
  display: flex;
  position: absolute;
  bottom: 0;
  padding-bottom: 20px;
  /* align-items: flex-end; */
}