.about {
  display: flex;
  /* justify-content: center; */
  flex-direction: column ;
  align-items: flex-start;
  margin-left: 20%;
}

.hello {
  color: #48b9a6;
  font-size: 1.2em;
}

.name {
  display: flex;
  font-size: 5em;
  cursor: default;
  flex-direction: row;
}

.first_name {
  color: #ccd6f6;
  display: flex;
  /* position: absolute */
}

.last_name {
  color: #ccd6f6;
  display: flex;
  margin-left: 3%;
  /* position: absolute; */
}

.s:hover {
  color: #48b9a6;
  font-size: 1.1em;
}

.p:hover {
  color: #48b9a6;
  font-size: 1.1em;
}

.e_1:hover {
  color: #48b9a6;
  font-size: 1.1em;
}

.n_1:hover {
  color: #48b9a6;
  font-size: 1.1em;
}

.c:hover {
  color: #48b9a6;
  font-size: 1.1em;
}

.e_2:hover {
  color: #48b9a6;
  font-size: 1.1em;
}

.r:hover {
  color: #48b9a6;
  font-size: 1.1em;
}


.l:hover {
  color: #48b9a6;
  font-size: 1.1em;
}

.o:hover {
  color: #48b9a6;
  font-size: 1.1em;
}

.n_2:hover {
  color: #48b9a6;
  font-size: 1.1em;
}

.g:hover {
  color: #48b9a6;
  font-size: 1.1em;
}

.h:hover {
  color: #48b9a6;
  font-size: 1.1em;
}

.u:hover {
  color: #48b9a6;
  font-size: 1.1em;
}

.r_2:hover {
  color: #48b9a6;
  font-size: 1.1em;
}

.s_2:hover {
  color: #48b9a6;
  font-size: 1.1em;
}

.t:hover {
  color: #48b9a6;
  font-size: 1.1em;
}

.info {
  /* border: 1px solid red; */
  color: #8992b0;
  margin-top: 1.2em;
}