#intro {
  display: flex;
  flex-direction: column ;
  align-items: flex-start;
  margin-left: 20%;
  margin-top: 4%;
  margin-bottom: 20em;
}

.hello {
  color: #48b9a6;
  font-size: 1.2em;
}

.name {
  display: flex;
  font-size: 5em;
  cursor: default;
  flex-direction: row;
}

.first_name {
  display: flex;
}

.last_name {
  display: flex;
  margin-left: 3%;
}

.letter {
  color: #ccd6f6;
}

.letter:hover {
  color: #48b9a6;
}

.subheading {
  font-size: 4.7em;
  color: #8992b0;
}

.info {
  color: #8992b0;
  margin-top: 1.2em;
  font-size: 1.2em;
}

.resume {
  color: #48b9a6;
  padding: 12px;
  border:#48b9a6 2px solid;
  border-radius: 5px;
  margin-top: 1.2em;
  cursor: pointer;
  text-decoration: none;
}